.memoryImage{
  /*border-width: 1px;
  border-style: solid;
  border-color: black;*/
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  
}

.memoryImage:hover{
  cursor: pointer;
}

.memory-container{
  width: 100%;
  background-color: #f5f5f5;
}

.middle-container{
  width: 50%;
  min-width: 900px;
  margin-left: 50%;
  left: -450px;
  position: absolute;
}

.searchfield{
  height: 35px;
  width: 100%;
  color: darkgray;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 10px;
}

.searchfield:hover{
  border-color: darkgray;
  border-width: 2px;
}

