<div class="menu-bar">

  <div class="middle-container">
    <div class="brand-container">
      <div class="title"><a routerLink="/memories">memogram</a></div>
    </div>
    <div class="item-container">
      <a routerLink="/profile" class="memo-menu-button"><i class="icon-fixed-width icon-user"></i></a>
      <a href="#" class="memo-menu-button" (click)="testCreateMemory()"><i class="icon-fixed-width icon-cogs"></i></a>
      <a href="#" class="memo-menu-button"><i class="icon-fixed-width icon-plus"></i></a>
    </div>
  </div>

</div>